@page
@model InstPlusEntityFr.Pages.StatystykiAdmin.IndexModel
@{
}
<h2>Raport Administratora Instagram Plus:</h2>
<table class='table'>
    <thead>
        <tr>
            <th></th>
            <th>ostatnie 24h</th>
            <th>ostatni tydzień</th>
            <th>ostatni miesiąc</th>
            <th>ostatnie 6 miesięcy</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>dodane posty</td>
            @foreach(var item in Model.IlosciDodPostow)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td>dodane komentarze</td>
            @foreach (var item in Model.IlosciDodKomentarzy)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td>dodane polubienia</td>
            @foreach (var item in Model.IlosciDodPolubien)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td>autor postu o największej<br>liczbie komentarzy<br>(ilość komentarzy)</td>
            @foreach (var item in Model.AutorzyPostowZNajwKoment)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td>autor postu o największej<br>liczbie polubień<br>(ilość polubień)</td>
            @foreach (var item in Model.AutorzyPostowZNajwPolubien)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td>autor komentarza o największej<br>liczbie polubień<br>(ilość polubień)</td>
            @foreach (var item in Model.AutorzyKomentZNajwPolubien)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td>użytkownik o największej<br>liczbie komentarzy<br>(ilość komentarzy)</td>
            @foreach (var item in Model.UzytkownicyNajwKoment)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td>użytkownik o największej<br>liczbie postów<br>(ilość postów)</td>
            @foreach (var item in Model.UzytkownicyNajwPostow)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td>najczęściej występujący<br>tag</td>
            @foreach (var item in Model.NajczestszeTagi)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td>ilość postów<br>użytkowników VIP</td>
            @foreach (var item in Model.PostyUzytkownikowVip)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td>użytkownik o największej<br>liczbie obserwujących</td>
            @foreach (var item in Model.UzytkownicyNajwObserwujacych)
            {
                <td>@item</td>
            }
        </tr>
    </tbody>
</table>
<div style="text-align: right">
    <form asp-page-handler="AnulujBtn">
        <input type="submit" value="WRÓĆ DO PROFILU >" asp-page-handler="AnulujBtn" />
    </form>
</div>